<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <title>Khalel Make Up</title>
</head>
<body>
    
    <nav>
        <a class="logo" href="#">
            <img src="/img/logo.png" alt="">
        </a>
        <div class="categories">
            <a href="#">Lip Liner</a>
            <a href="#">Lipstick</a>
            <a href="#">Foundation</a>
            <a href="#">Eyeliner</a>
            <a href="#">Eyeshadow</a>
            <a href="#">Blush</a>
            <a href="#">Bronzer</a>
            <a href="#">Mascara</a>
            <a href="#">Eyebrow</a>
            <a href="#">Nail Polish</a>
        </div>

    </nav>

    <main>
        {{{body}}}
    </main>

</body>
</html>